<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">

      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          Never Miss a Note Again!
        </h1>
        <p class="fs-4 mb-4">
         Whether you're jotting down your to-do list, brainstorming for work, or simply making notes for something you don't want to forget, JotterBox has got you covered.
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg">Start Writting Now!</a>
      </div>

    </div>
  </main>
</div>