:root {
  --background-color: #d0caca;
  --bs-primary-rgb: #040405;
}


body {
  font-family: 'Poppins' , sans-serif;
  background-color: var(--background-color);
  color: var(--bs-primary-rgb);
  font-weight: 300;
  font-size: 1.2 rem;
  background-image: url();
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Share Tech Mono';
  font-weight: 800;
}

btn {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-radius: 2rem;
};